{% extends "base.html" %}

{% block main %}

<!--container for the page content-->
<div class="container">
    <h1 class="page-header">Add New Property</h1>
    
    {% include 'flash_messages.html' %}

    
    <div class="form">

        <form id="property" name="" method="POST" enctype="multipart/form-data">

            <h4 class="title">{{form.title.label}}</h4>
            {{form.title(class='formControl',class='title')}}
            <br>
        
            <h4 class="description">{{form.description.label}}</h4>
            {{form.description(class='formControl',class='description')}}
            <br>
        
            
            <h4 class="rooms">{{form.rooms.label}}</h4>
            {{form.rooms(class='formControl', class='rooms',placeholder='3')}}
            <br>
            
            <h4 class="bathrooms">{{form.bathrooms.label}}</h4>
            {{form.bathrooms(class='formControl',class='broom',placeholder='3')}}
            <br>

            <div class="form-group">
            <h4 class="price">{{form.price.label}}</h4>
           {{form.price(class='formControl',class='price',placeholder='$55,000,000')}}
            <br>
    
            <h4 class="propertyType">{{form.propertyType.label}}</h4>
            {{form.propertyType(class='formControl',class='ptype', placeholder='House')}}
            <br>
          </div>
            
              <h4 class="location">{{form.location.label}}</h4>  
            {{form.location(class='formControl', class='location', placeholder='e.g. 12 Catherine Drive')}}
            <br>
                

            <h4 class="imagetitle">{{form.photo.label}}</h4>
            {{form.photo}}
            <br>

            <button name="browse" class="btn btn-primary" type="browse">Add Property</button>
            <br>
        </form>
    </div>
</div>
{% endblock %}